<h1>Boas vindas</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
Holivane Holanda
<p> A soma é: <%= 1+1 %></p>
<p> Meu nome de trás para frente é: <%= "Holivane".reverse %></p>
<p>A data de hoje é: <%= Date.today %></p>
